.corpo {
    background-color: rgb(218, 11, 11);
}

.nav {
    background-color:black
}
.titulo {
    margin-top: 30px;
}
.barradepesuisa {
    margin-top: 20px;
}
  
.campopokemon{
    background-color: aqua;
}

.icone{
    text-align: end;
    margin-right: 5px;
}

.escondido{
    display: none;
}

.campopoke{
    margin-top: 40px;
}

.card-title {
    text-align: center;
}